/* 1.2 - Template Global Reset - Start
================================================== */
body {
	margin: 0px;
	padding: 0px;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.65;
	font-style: normal;
	color: $color_body;
	font-family: $font_body;
	text-rendering: optimizelegibility;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

.body_wrap {
	overflow: hidden;
	position: relative;
}

::selection {
	color: #ffffff;
	background-color: $color_primary;
}
::-moz-selection {
	color: #ffffff;
	background-color: $color_primary;
}

iframe {
	border: none;
}

a:focus,
a:active,
input,
input:hover,
input:focus,
input:active,
textarea,
textarea:hover,
textarea:focus,
textarea:active {
	outline: none;
}

img:not([draggable]),
embed,
object,
video {
	height: auto;
	max-width: 100%;
}
img {
	border: none;
	height: auto;
	max-width: 100%;
	user-select: none;
	vertical-align: middle;
}

a {
	outline: 0;
	display: inline-block;
	text-decoration: none;
	transition: $transition;
	font-family: $font_heading;
	&:active,
	&:focus,
	&:hover,
	&:visited {
		outline: 0;
		text-decoration: none;
	}
}

button {
	padding: 0px;
	border: none;
	outline: none;
	background: none;
	display: inline-block;
	transition: $transition;
	font-family: $font_heading;
	&:focus {
		outline: none;
	}
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 800;
	color: $color_dark;
	font-family: $font_heading;
}

hr {
	opacity: 1;
	margin: 40px 0;
	background-color: $color_border;
}

.dropdown-menu {
	top: 100%;
	opacity: 0;
	padding: 15px;
	display: block;
	margin-top: 20px;
	min-width: 210px;
	visibility: hidden;
	transform-origin: top;
	background-color: #ffffff;
	border-radius: $border_radius;
	border: 2px solid $color_border;
	transform: perspective(300px) rotateX(-18deg);
	box-shadow: 0 10px 30px 0 rgba(124, 88, 211, 0.08);
	transition: 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
	&.show {
		opacity: 1;
		visibility: visible;
		transform: perspective(300px) rotateX(0deg);
	}

	&:before {
		left: 0;
		right: 0;
		top: -22px;
		content: '';
		height: 20px;
		display: block;
		position: absolute;
	}
}

.tab-pane {
	&.active {
		animation: 0.4s ease-in-out 0s normal none 1 running fadeInUp;
	}
}

.img_rounded {
	border-radius: $border_radius;
}
/* 1.2 - Template Global Reset - End
================================================== */