// Font Family
$font_body: 'Lato', sans-serif;
$font_heading: 'Nunito', sans-serif;

// Default Color
$color_primary: #7C58D3;
$color_danger: #FF47A2;
$color_warning: #FFDA47;
$color_light: #FBF9FF;
$color_dark: #0E081E;
$color_body: #1C103B;
$color_muted: #675D6B;
$color_border: #EBE5F7;

// Default Border Radius
$border_radius: 8px;

// Default Transition
$transition: 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);