/* 3.24 - FAQ Section - Start
================================================== */
.faq_section {
	background-size: auto;
	background-repeat: no-repeat;
	background-position: center center;
}
/* 3.24 - FAQ Section - End
================================================== */