/* 3.17 - Instagram Section - Start
================================================== */
.instagram_item {
	display: block;
	overflow: hidden;
	border-radius: $border_radius;
	position: relative;
	&:before {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1;
		opacity: 0;
		content: '';
		position: absolute;
		transition: $transition;
		background: rgba(28, 16, 59, 0.4);
		color: #D6D8E0;
	}
	img {
		width: 100%;
		display: block;
		transition: $transition;
	}
	.item_title {
		left: 0;
		right: 0;
		top: 50%;
		opacity: 0;
		z-index: 2;
		color: #ffffff;
		display: block;
		padding: 0 30px;
		margin-top: 20px;
		text-align: center;
		position: absolute;
		transition: $transition;
		transform: translateY(-50%);
	}
	&:hover {
		&:before {
			opacity: 1;
		}
		img {
			transform: scale(1.08);
		}
		.item_title {
			opacity: 1;
			margin-top: 0;
		}
	}
}
/* 3.17 - Instagram Section - End
================================================== */