/* 3.16 - Team Section - Start
================================================== */
.team_section {
	background-size: auto;
	background-repeat: no-repeat;
	background-position: center center;
}
.team_item {
	text-align: center;
	margin-bottom: 40px;

	.item_image {
		height: 290px;
		display: flex;
		margin-bottom: 20px;
		align-items: center;
		justify-content: center;
	}

	.item_title {
		font-size: 24px;
		line-height: 30px;
		margin-bottom: 10px;
	}

	.item_designation {
		display: block;
		font-size: 18px;
		line-height: 25px;
		margin-bottom: 20px;
	}

	.social_links {
		justify-content: center;
	}
}
/* 3.16 - Team Section - End
================================================== */