/* 3.5 - Video Section - Start
================================================== */
.popup_video {
	z-index: 2;
	width: 130px;
	height: 130px;
	font-size: 26px;
	position: relative;
	border-radius: 100%;
	align-items: center;
	display: inline-flex;
	justify-content: center;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	&:before {
		z-index: -1;
		content: '';
		width: 100px;
		height: 100px;
		position: absolute;
		border-radius: 100%;
		transition: $transition;
		background-color: $color_warning;
	}
	i {
		margin-left: 5px;
		color: $color_primary;
	}
	&:hover {
		&:before {
			transform: scale(1.1);
		}
	}
}
.video_wrap {
	position: relative;
	.popup_video {
		top: 50%;
		left: 50%;
		position: absolute;
		transform: translate(-50%, -50%);
	}
	.video_poster_wrap {
		overflow: hidden;
		position: relative;
		border-radius: 4px;
	}
}
/* 3.5 - Video Section - End
================================================== */